# Example environment variables
# Rename this file to app.env and fill in the values

# Path to the database file
DATABASE_PATH=app/data/prod_database.db

# Host and port for the Flask development server
HOST=0.0.0.0
PORT=8080
